body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: 'Arial';
    user-select: none;
    color: white;
}

#render {
    display: flex !important;
    justify-items: center;
    justify-content: center;
    width: 500px;
    height: 100%;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.menu .atmPage {
    width: 100%;
    background: #333333;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.menu .atmPage h2 {
    font-size: 18px;
    text-align: center;
    margin-top:0;
    margin-bottom: 20px;
}

